
.backgroundImage{
 background-image: url("images/marvelbackgroundgradient2.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-color: rgb(171, 171, 171);
 padding-top: 200px;
 padding-bottom: 200px;
 min-height: 90vh;
}

#marvelLogo{
    height: 300px;
    width: 300px;
}
#marvelLogo2{
    height: 200px;
    width: 200px;
}
/* #heroSection{
    
} */

/* #landingPageFooter{
    height: 10px;
} */

/* body{
    background-color: rgb(255, 0, 0);
} */

#backButton{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    
}

#resultsCard{
    display: none;
    width: 50rem;
    padding: 20px;
    background-color: black;
    color: white;
}



